127.0.0.1   localhost localhost.localdomain
{{ ansible_default_ipv4.address }} {{ ansible_hostname }}.corp.local {{ ansible_hostname }}

192.168.{{ ansible_default_ipv4.network.split('.')[2] }}.2 giant_nas.corp.local giant_nas
192.168.{{ ansible_default_ipv4.network.split('.')[2] }}.3 giant_nas.corp.local giant_nas

#BEGIN Nis Master/Slave Config
192.168.64.49 nis-master.corp.local nis-master
192.168.64.48 nis-slave.corp.local nis-slave
#END Nis Master/Slave Config
